@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to class register, please login to continue!</h1>
    @*<p><button type ="button" class="block">Login</button></p>
    <p><button type="button" class="block">Register</button></p>*@
</div>
