html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: mediumpurple;
    padding: 28px 28px;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
